:root
{
    --UNC-Blue: #013c65
    --UNC-Gold: #f6b000
    --UNC-Gray: #8a8a8d
    --UNC-Butter: #f5e3b1
}
body{
    background-color: var(--UNC-Butter)
}
*{
    color: var(--UNC-Blue)
}
h1{
    text-align: center;
    font-size: calc(12pt + 4vw);
}
nav{
    border: 3px var(--UNC-Gray) solid;
}
section{
    border:3px var(--UNC-Gray) solid;
}
