            .navbar {
                width: 100%;
                overflow: auto;
                background-color: aqua;
                text-align: center;
            }
            .navbar a {
                float: left;
                font-size: 15px;
                color: black;
                padding: 12px;
                text-align: center;
            }
            .navbar a.active {
                background-color: beige;
            }
            .navbar a:hover,
            .dropdown:hover .dropbtn,
            .dropbtn:focus {
                background-color: beige;
            }
            @media screen and (max-width: 500px) {
                .navbar a {
                    float: none;
                    display: block;
                    width: 100%;
                    text-align: left;
                }
            }
            footer {
                overflow: hidden;
                background-color: aqua;
                text-align: left;
            }
            body {
                background-color: grey;
            }
